@model MotelBooking.Models.Room

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}



<div class="container mt-4">

    <h2>Delete Room</h2>

    <div class="alert alert-danger">
        Are you sure you want to delete this room?
    </div>

    <div class="card p-3">
        <p><b>Room:</b> @Model.RoomNumber</p>
        <p><b>Type:</b> @Model.RoomType</p>
    </div>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" name="id" value="@Model.RoomID" />

        <button type="submit" class="btn btn-danger mt-3">
            Delete
        </button>

        <a asp-action="Create" class="btn btn-secondary mt-3">
            Cancel
        </a>
    </form>

</div>