@model MotelBooking.Models.Booking






<h2>Edit Booking</h2>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="BookingID" />

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-2">
        <label>Customer Name</label>
        <input asp-for="CustomerName" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Customer Phone</label>
        <input asp-for="CustomerPhone" class="form-control" />
    </div>

    <!--  ROOM SECTION -->
    <div class="mb-2">
        <label>Room</label>
        <select asp-for="RoomID" asp-items="ViewBag.Rooms" class="form-control">
            <option value="">-- Select Room --</option>
        </select>
    </div>

    <div class="mb-2">
        <label>Check In</label>
        <input asp-for="CheckIn" type="date" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Check Out</label>
        <input asp-for="CheckOut" type="date" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Booking Type</label>
        <select asp-for="BookingType" class="form-control">
            <option value="Hourly">Hourly</option>
            <option value="Day">Day</option>
            <option value="Night">Night</option>
        </select>
    </div>

    <div class="mb-2">
        <label>Total Amount</label>
        <input asp-for="TotalAmount" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Status</label>
        <select asp-for="Status" class="form-control">
            <option value="Pending">Pending</option>
            <option value="Confirmed">Confirmed</option>
            <option value="Cancelled">Cancelled</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success btn-sm">
        Update
    </button>

    <a asp-action="Index" class="btn btn-secondary btn-sm">
        Cancel
    </a>

</form>