@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container mt-5">

    <h2 class="mb-4 text-center">Admin Dashboard</h2>

    <div class="row g-4">

        <!-- Booking Requests -->
        <div class="col-md-4">
            <div class="card shadow border-0 text-center p-3">
                <h5>Booking Requests</h5>
                <p>View all customer requests</p>

                <a asp-controller="BookingRequest"
                   asp-action="AdminRequest"
                   class="nav-btn mx-2">
                    Booking Requests

                </a>
            </div>
        </div>

        <!-- Confirmed Bookings -->
        <div class="col-md-4">
            <div class="card shadow border-0 text-center p-3">
                <h5>Bookings</h5>
                <p>Manage confirmed bookings</p>
                <a asp-controller="Booking" asp-action="Create"
                   class="btn btn-success">
                    View Bookings
                </a>
            </div>
        </div>

        <!-- Rooms -->
        <div class="col-md-4">
            <div class="card shadow border-0 text-center p-3">
                <h5>Rooms</h5>
                <p>Add & manage rooms</p>
                <a asp-controller="Room" asp-action="Create"
                   class="btn btn-primary">
                    Manage Rooms
                </a>
            </div>
        </div>

        <!-- User -->
        <div class="col-md-4">
            <div class="card shadow border-0 text-center p-3">
                <h5>User</h5>
                <p>View registered customers</p>
                <a asp-controller="User" asp-action="Index"
                   class="btn btn-info">
                    Manage User
                </a>
            </div>
        </div>

        <!-- Analytics -->
        <div class="col-md-4">
            <div class="card shadow border-0 text-center p-3">
                <h5>Analytics</h5>
                <p>Booking reports & stats</p>
                <a asp-controller="Analytics" asp-action="CustomerDashboard"
                   class="btn btn-dark">
                    View Analytics
                </a>
            </div>
        </div>

        <!-- Logout -->
        <div class="col-md-4">
            <div class="card shadow border-0 text-center p-3">
                <h5>Logout</h5>
                <p>End admin session</p>
                <a asp-controller="AdminLogin" asp-action="Logout"
                   class="btn btn-danger">
                    Logout
                </a>
            </div>
        </div>

    </div>

</div>
