@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}



@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

<div class="container mt-5">
    <div class="row justify-content-center">

        <div class="col-md-4">

            <div class="card shadow border-0">

                <div class="card-header bg-dark text-white text-center">
                    <h5 class="mb-0">Login</h5>
                </div>

                <div class="card-body p-4">

                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger py-2">
                            @ViewBag.Error
                        </div>
                    }

                    <form asp-action="Login" method="post">

                        <div class="mb-3">
                            <input asp-for="Username" class="form-control form-control-sm"
                                   placeholder="Username" />
                            <span asp-validation-for="Username" class="text-danger small"></span>
                        </div>

                        <div class="mb-3">
                            <input asp-for="Password" type="password"
                                   class="form-control form-control-sm"
                                   placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger small"></span>
                        </div>

                        <div class="mb-3">
                            <select asp-for="Role" class="form-select form-select-sm">
                                <option value="">Login as</option>
                                <option value="Admin">Admin</option>
                                <option value="Customer">Customer</option>
                            </select>
                            <span asp-validation-for="Role" class="text-danger small"></span>
                        </div>

                        <button type="submit" class="btn btn-primary btn-sm w-100">
                            Login
                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}